---
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
import FangameGrid from '@/components/FangameGrid'
import { getFangames } from '@/lib/getFangames'

const fangames = await getFangames()
---

<Layout class="max-w-7xl">
  <PageHead slot="head" title="Home" />
  <section class="text-center py-8">

    <FangameGrid client:load fangames={fangames} />
  </section>
</Layout>
